<% if logged_in? %>
  <div class="row">

    <div class="col-sm-3 col-md-push-9">
      </br>
      <%= render 'shared/to_do' %>
      </br>
      <% if !no_valid_phone? %>
        <section class="recipients_modal" id="modal_section">
          <%= render 'shared/recipients_modal' %>
        </section>
      <% end %>
      </br>
    </div>

    <aside class="col-sm-3 col-md-pull-3">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <% if no_valid_phone? %>
      <section class="phone_form">
        <%= render 'users/add_phone' %>
      </section>
      <% else %>
      <section class="micropost_form" id="new_micropost_section">
        <%= render 'shared/micropost_form' %>
      </section>
      <% end %>
    </aside>

    <div class="col-sm-6 col-md-pull-3">
      <%= render 'shared/feed' %>
    </div>



  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Study for five hours. Write 200 words a night. Go for a morning run.</h1>
    
    <h2>
      Set your goals. Complete them. Check in before the end of the day. Miss a goal and your friends receive a text. It's that simple. Get stuff done.
    </h2>

    <!--
    <h2>To become an alpha tester, drop me an email: <a href="mailto:hello@sze.codes">hello@sze.codes</a></h2>
    -->

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>  
  </div>
<% end %>