<!-- Form for phone after new sign up -->

<div id="send-pin">
  <h3>First Post?</h3>
  <p>Let's Verify Your Phone Via SMS:</p>
  <%= form_for @user, remote: true, :url => phone_entry_users_path do |f| %>
    <div class="form-group">
      <%= f.text_field :phone_number, :placeholder => "ex: 1718567890" %>
    </div>
      <%= f.submit "Send Verification PIN", class: "btn btn-primary", id: 'send-pin-link' %>
  <% end %>
</div>

<div id="verify-pin">
  <h3>Enter your PIN</h3>
  <%= form_tag users_verify_path, remote: true do |f| %>
	<%= hidden_field_tag 'hidden_phone_number', '' %>
	  <div class="form-group">
		<%= text_field_tag :phone_pin, :placeholder => "ex: 0000" %>
	  </div>
	  <%= submit_tag "Verify PIN", class: "btn btn-primary" %>
	<% end %>
</div>

<div id="status-box" class="alert alert-success">
  <p id="status-message">Status: Haven't done anything yet</p>
</div>