<% provide(:title, @title) %>
<div class="row">

  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
        <% full_name = @user.name + " " + @user.last_name %>
      <h1><%= full_name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Goals:</b> <%= @user.microposts.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>

      <!-- Future implimentation of users as recipients -->

      <%# if @recipients.any? %>
        <div class="user_avatars">
          <%# @recipients.each do |recipient| %>
            <%#= link_to gravatar_for(user, size: 30), user %>
          <%# end %>
        </div>
      <%# end %>

      <!-- end of commented out section -->
    </section>
  </aside>

  <div class="col-md-8">
    <h3><%= @title %></h3>

    <% if @recipients.any? %>
      <ul class="users follow">
        <%= render @recipients %>
      </ul>
      <%= will_paginate @recipients %>
    <% end %>

  </div>
</div>