<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label "Describe Goal:" %>
    <%= f.text_area :content, placeholder: "I want to ..." %>
  </div>
  <div class="select">
    <%= f.label "For" %>
    <%= f.select(:schedule_time, options_for_select([
                                      ['Today (one check-in)', Time.now + 1.days], ['2 days (two check-ins)', Time.now + 2.days],
                                      ['3 days (three check-ins)', Time.now + 3.days]
                                    ])) %>
  </div>
  <span class="picture">
    <%= f.label "Attached picture" %>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <%= f.submit "Post", class: "btn btn-primary" %>

<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
