<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label "Name your goal:" %>
    <%= f.text_field :title, placeholder: "ex. BAR exam session, creative writing..." %>
  </div>
  <div class="field">
    <%= f.label "You want to:" %>
    <%= f.text_area :content, placeholder: "ex. study at least 3 hours today..." %>
    <small>^ This message will be sent via SMS to notify selected accountability buddies.</small>
  </div>
  <div class="select">
    <%= f.label "For" %>
    <%= f.select(:days_to_complete, options_for_select([
                                      ['Today (one check-in)', 1], ['2 days (two check-ins)', 2],
                                      ['3 days (three check-ins)', 3], ['4 days (four check-ins)', 4],
                                      ['5 days (five check-ins)', 5]
                                    ])) %>
  </div>
  <span class="picture">
    <%= f.label "Attached picture" %>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <%= f.submit "Post", class: "btn btn-primary" %>

<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
