<% if @active_goals %>
	<%= javascript_include_tag "active_tasks" %>
	<table id="active_tasks_table">
		<thead>
		    <tr>
		    	<th>Due in</th>
		    </tr>
		</thead>
		<tbody>
			<% @active_goals.each do |deadline| %>
			    <tr>
				  	<% due_time = Delayed::Job.where(:user_id => current_user.id, :owner_type => "Micropost", :owner_id => deadline.id).order("created_at DESC").first.run_at %>
				  	<% seconds_remaining = due_time - Time.now %>
				  	<% deadline_owner = User.find_by(:id => deadline.user_id) %>
					<!-- active_tasks.js parses this -->
				    <td id="due_time" data-due="<%= seconds_remaining %>"><%= distance_of_time_in_words(Time.now, due_time, include_seconds: true) %></td>
				    <td><%= deadline.title %></td>

					<% if deadline.fresh_and_not_checked_in? %>

						<% if deadline_owner.stage_and_queue_occupied? %>
							<td>
								<%= form_for(deadline) do |f| %>
									<%= f.hidden_field :late_but_current, value: true %>
									<%= f.submit 'Check In' %>
								<% end %>
							</td>
						<% else %>
							<td>
								<%= form_for(deadline) do |f| %>
									<%= f.hidden_field :check_in_current, value: true %>
									<%= f.submit 'Check In' %>
								<% end %>
							</td>
						<% end %> 

					<% else %>

						<td>
							Next check in is:
						</td>

					<% end %>

			    </tr>
			<% end %>
	  	</tbody>
	</table>
<% end %>