<% if @active_goals.any? %>
	<%= javascript_include_tag "active_tasks" %>
	<table id="active_tasks_table">
		<thead>
		    <tr>
		    	<th>Deadlines</th>
		    </tr>
		</thead>
		<tbody>
			<% @active_goals.each do |deadline| %>
			    <tr>
			    	<!-- Rails Variables here -->
			    	<% deadline_owner = User.find_by(:id => deadline.user_id) %>
				  	<% due_time = Delayed::Job.where(:user_id => current_user.id, :owner_type => "Micropost", :owner_id => deadline.id, :owner_job_type => "24 Hour Deadline").order("created_at DESC").first.run_at %>
				  	<!-- set two states, one for 24 cycle and one for late cycle -->
				  	<% seconds_remaining = due_time - Time.now %>
				  	<% next_due_date = seconds_remaining + 24.hours %>

					<!-- ** Table Row begins ** -->

					<!-- Display this if CHECKED-IN on time, waiting for next 24 hour cycle. -->
					<% if deadline.day_already_completed == true %>
						<td id="due_time"><%= distance_of_time(next_due_date, :except => :seconds) %></td>
						<td data-due="<%= next_due_date %>"><%= deadline.title %></td>
					<% else %>
						<!-- default clock. NOT CHECKED-IN or CHECKED-IN LATE -->
					    <td id="due_time"><%= distance_of_time(seconds_remaining, :except => :seconds) %></td>
					    <td data-due="<%= seconds_remaining %>"><%= deadline.title %></td>
					<% end %>

					<!-- CHECK IN BUTTON LOGIC -->
					<% if deadline.fresh_and_not_checked_in? %>
						<td>
							<%= form_for(deadline) do |f| %>
								<%= f.hidden_field :check_in_current, value: true %>
								<%= f.submit 'Check In' %>
							<% end %>
						</td>
					<% else %>
						<td>
							Awaiting Next Check-In Period
						</td>
					<% end %>

			    </tr>
			<% end %>
	  	</tbody>
	</table>
<% else %>
	<h3> Nothing due! Yay!</h3>
<% end %>