<% if @active_goals.any? %>
	<%= javascript_include_tag "active_tasks" %>
	<table id="active_tasks_table">
		<thead>
		    <tr>
		    	<th>Upcoming Deadlines</th>
		    </tr>
		</thead>
		<tbody>
			<% @active_goals.each do |deadline| %>
			    <tr>
			    	<!-- Rails Variables here -->
			    	<% deadline_owner = User.find_by(:id => deadline.user_id) %>
				  	<% due_time = Delayed::Job.where(:user_id => current_user.id, :owner_type => "Micropost", :owner_id => deadline.id).order("created_at DESC").first.run_at %>
				  	<% seconds_remaining = due_time - Time.now %>
				  	<% next_due_date = seconds_remaining + 24.hours %>

					<!-- ** Table Row begins ** -->

					<!-- Display this if CHECKED-IN on time, waiting for next 24 hour cycle. -->
					<% if deadline.check_in_current == true && deadline.days_remaining > 0 %>
						<td id="due_time"><%= distance_of_time(next_due_date, :except => :seconds) %></td>
						<td data-due="<%= next_due_date %>"><%= deadline.title %></td>

					<!-- Display this if NOT CHECKED-IN, is past due, and awaiting two hour last call response. -->
					<% elsif deadline.check_in_current == false && deadline_owner.stage_or_queue_occupied_by(deadline.id) %>
						<td id="due_time">PAST DUE</td>
						<td data-due="<%= seconds_remaining %>"><%= deadline.title %></td>

					<% else %>
						<!-- default clock. NOT CHECKED-IN or CHECKED-IN LATE -->
					    <td id="due_time"><%= distance_of_time(seconds_remaining, :except => :seconds) %></td>
					    <td data-due="<%= seconds_remaining %>"><%= deadline.title %></td>
					<% end %>

					<!-- CHECK IN BUTTON LOGIC -->
					<% if deadline.fresh_and_not_checked_in? %>

						<% if deadline_owner.stage_or_queue_occupied_by(deadline.id) %>
							<td>
								<%= form_for(deadline) do |f| %>
									<%= f.hidden_field :late_but_current, value: true %>
									<%= f.submit 'Check In' %>
								<% end %>
							</td>
						<% else %>
							<td>
								<%= form_for(deadline) do |f| %>
									<%= f.hidden_field :check_in_current, value: true %>
									<%= f.submit 'Check In' %>
								<% end %>
							</td>
						<% end %> 

					<% else %>
						<td>
							Awaiting Next Check-In Period
						</td>
					<% end %>

			    </tr>
			<% end %>
	  	</tbody>
	</table>
<% else %>
	<h3> Nothing due! Yay!</h3>
<% end %>