<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  </br>
  <span class="title"><%= micropost.title %></span> <!-- Append link here -->
  <span class="content">
    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
    <%= micropost.content %>
    </br>

    
    <% if micropost.active %>
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      Currently on day <%= micropost.current_day %> of <%= micropost.days_to_complete %>.
    <% end %>

    <%= image_tag micropost.picture.url if micropost.picture? %>

    <!-- Deadline Backend Logic -->
      <!-- Vars --> 
    <% if micropost.active == false %>
      Status: Completed. Score: <%= micropost.days_completed %>/<%= micropost.days_to_complete %>.
    <% else %> 
      <!-- Ruby Vars -->
      <% due_time = Delayed::Job.where(:user_id => current_user.id, :owner_type => "Micropost", :owner_id => micropost.id, :owner_job_type => "24 Hour Deadline").order("created_at DESC").first.run_at %>
      <% seconds_remaining = due_time - Time.now %>
      <% next_due_date = seconds_remaining + 24.hours %>
      <% user = micropost.user %>

      <% if micropost.check_in_current == true %>
        Next Deadline: <%= distance_of_time(next_due_date, :except => :seconds) %>
      <% else %>
        Next Deadline: <%= distance_of_time(seconds_remaining, :except => :seconds) %>
      <% end %> 
    <% end %>

  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>